[submodule "lib-ytdownloader"]
	path = lib-ytdownloader
	url = https://github.com/SrRapero720/watermedia-ytdownloader.git
	branch = master
[submodule "lib-binaries"]
	path = lib-binaries
	url = https://github.com/SrRapero720/watermedia-binaries.git
