name: ReleaseJar

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:
  building:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Tag
        uses: actions/checkout@v3

      - name: Set up JDK (21)
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Release on CurseForge and Modrinth
        run: ./gradlew publishMods
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}